#canvas-view {
    min-height: 320px;
}

#canvas {
    -moz-border-radius: 5px;
         border-radius: 5px;
}

.hidden {
    display: none;
}

.ui-not-btn {
    cursor: default;
    text-align: left;
    background-color: #333 !important;
}
div .ui-not-btn:hover {
    background-color: #333 !important;
}

.ui-not-btn:hover{
    background: none repeat scroll 0 0 #F6F6F6 !important;
}
